* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
}

.nav-1 {
  background-color: aqua;
}
.navbar {
  background-color: beige;
  height: 80px;
}

.container a {
  color: rgb(19, 20, 21);
  font-weight: 500;
}
img {
  height: 70vh;
}
.card {
  background-color: rgb(232, 218, 202);
}
.img-thumbnail {
  height: 70vh;
}

.carousel-caption h5 {
  font-weight: 700;
}

.dropdown-item {
  color: black;
}

footer {
  background-color: beige;
  width: 100%;
  height: 70px;
  text-align: center;
}

.copy {
  color: chocolate;
  text-align: center;
}
