* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(203, 200, 206);
}

.container a {
  color: rgb(19, 20, 21);
  font-weight: 500;
}
img {
  height: 70vh;
}
.card {
  background-color: rgb(232, 218, 202);
}
.img-thumbnail {
  height: 70vh;
}

.carousel-caption h5 {
  font-weight: 700;
}

.dropdown-item {
  color: black;
}
