body {
  background-color: rgb(158, 216, 216);
}

.navbar {
  background-color: beige;
  height: 70px;
}

.container a {
  color: black;
  font-weight: 500;
}

#tableData {
  background-color: antiquewhite;
}
